<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href=" ~/content/site.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container body-content">
        <!--This is going to enable Bootstrap using the class container -->
        <div class=" row"> <!--all the item will be in arow-->
            @RenderBody()
        </div>
    </div>
</body>
</html>
