@model BethanysPieShop.ViewModels.HomeViewModel;

        @{ 
            Layout = "_Layout";
        }


    <h2>@Model.Title</h2>

     @foreach (var pie in Model.Pies) // I am going to be looping over the Model.Pies
     {
        <div>
            <h2>@pie.Name</h2>
            <h3>@pie.Price.ToString("c")</h3>
        </div>
     }
 
        


